body{
    background-color: #F999B7;
  margin:0;
  text-align: center;
  font-family: Merriweather,serif;
}
h1 {
      color: white;
  margin-top: 0;
  font-family: Montserrat,serif;
}
h3{
      color: white;
  font-family: Montserrat,serif;
}
h2{
      color: white;
  font-family: Montserrat,serif;
}
.topcontainer{
  margin: 0 auto;
  padding-top: 100px;
  
}
.middlecontainer{
  margin: 0 auto 0 auto;
  background-color: #E4F9F5;
}
.bottomcontainers{
  margin: 0 auto 0 auto;
  background-color: #E4F9F5;
}

.imge{
  width: 50%;
}
.pro{
  text-decoration: underline;
}
.p{
  width: 200px;
  height:200px;
}
.webtech{
  width: 200px;
}
